body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
}

#searchText {
	border-radius: 0;
	height: 10%;
}

#celsiusNow {
	color: black;
}

#googleMap {
/*	width:500px;
	height:380px;*/
	height: 90%;
}

#result {
	background-color: rgba(0, 0, 0, 0.8);

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0;
	font-size: 1.5em;
	position: fixed;
	text-align: center;
	width: 70%;
	height: 50%;
	margin-bottom: -100%;
	margin-left: 15%;

}

#result p {
	margin-left: 40px;
}



/*320*/
@media screen and (min-width: 1px) {

	#address {
		font-size: .5em;
	}
	#resultText {
		font-size: .5em;
	}
}

@media screen and (min-width: 900px) {

	#address {
		font-size: 1.5em;
	}
	#resultText {
		font-size: 1em;
	}

}